@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

body{
	background: linear-gradient(135deg, #FFFFFF 0%, #C77F7F 50%, #C75757 75%, #9C4236 100%);
}

.nav{
	overflow: hidden;
}

.nav a{
	font-family: Oswald;
	float: left;
	color: #000000;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
	font-size: 28px;
}

.nav a:hover{
	background-color: #ddd;
	color: black;
	transition: 0.2s;
}

h2{
	font-family: Oswald;
	font-size: 32px;
}

h3{
	font-family: Oswald;
	font-size: 24px;
	padding-top: 0px;
	padding-bottom: -16px;
}

.form_name{
	font-family: Roboto Condensed;
	font-size: 24px;
}

.column{
	font-family: Roboto Condensed;
	font-size: 20px;
}